* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr 25%;
}

/* --- Header --- */
header {
    background: #21311a;
    color: white;
    grid-column: 1 / 4;
    text-align: center;
}

nav {
    background: black;
    grid-column: 1 / 4;
    text-align: center;
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0;
    font-size: 22px;
    width: 100%;
}

/* --- Main --- */
main {
    background: lightgray;
    grid-column: 1 / 3;
    padding: 0px 20px;
    min-height: 80vh;
}

.aside-bar {
    background: gray;
    grid-column: 3 / 4;
    padding: 0px 20px;
}

.card { /* The Headers */
    background: #323828;
    color: white;
    text-align: center;
}

/* --- Footer --- */
footer {
    background: lightblue;
    grid-column: 1 / 4;
    text-align: center;
}




nav a {
    display: block;
	color: white;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center; 
    width: 100%;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: 1000;
}
