* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr 30%;
    background-color: lightgray;
}


/* --- Header --- */
header {
    background: #21311a;
    color: white;
    grid-column: 1 / 4;
    text-align: center;
}

nav {
    background: black;
    grid-column: 1 / 4;
    text-align: center;
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0;
    font-size: 22px;
    width: 100%;
}


/* --- Main --- */
main {
    background: lightgray;
    grid-column: 1 / 3;
    padding: 0px 20px;
    min-height: 80vh;
}

p {
    font-size: 22px;
    font-family: 'MyFont', sans-serif;
}

@font-face {
    font-family: 'MyFont';
    src: url('../fonts/Sedan-Regular.ttf') format('ttf')
}

#text1 {
    margin-left: 5px;
    margin-right: 20px;
}

#text2 {
    margin-left: 20px;
    margin-right: 5px;
}

.p1 {
    display: flex;
    align-items: flex-start;
}

.p2 {
    display: flex;
    align-items: flex-start;
}

.card { /* The h1 Headers */
    background: #323828;
    color: white;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 28px;
}

.line {
    width: 90%;
    height: 2px;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 40px;
    
}


/* --- Side bar --- */
.aside-bar {
    background: lightgray;
    grid-column: 3 / 4;
    padding: 0px 20px;
}

#text3 {
    text-align: center;
}


/* --- Footer --- */
footer {
    background: lightblue;
    grid-column: 1 / 4;
    text-align: center;
}


/* Top Links */
nav a {
    display: block;
	color: white;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center; 
    width: 100%;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: 1000;
}
