* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr 300px;
}

header {
    background: red;
    padding: 2rem;
    grid-column: 1 / 4;
}

main {
    background: green;
    grid-column: 1 / 3;
    padding: 1rem;
}

.aside-bar {
    background: yellow;
    grid-column: 3 / 4;
    padding: 1rem;
}

footer {
    background: lightblue;
    grid-column: 1 / 4;
    text-align: center;
}

nav {
    background: black;
    grid-column: 1 / 4;
    text-align: center;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0;
    font-size: 20px;
}

nav a {
    display: block;
	color: white;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center; 
    width: 100%;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: 1000;
}
