@media screen and (min-width: 37.5em){

    nav ul {
        display: flex;
        margin: 0 auto;
        position: inherit;
        /*justify-content: space-around; /* Justifies items to have equal space around them */
    }

    nav ul li {
        flex: 1 1 100%;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 2rem;
        padding: 1.5rem;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
        display: block;
    }

    #templeCards {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-gap: 20px;
        grid-auto-rows: 1fr;
    }

    section {
        border: 1px solid #333;
        border-radius: 8px;
        /* box-shadow: 0 2px 4px black; */
        padding: 20px;
        margin-bottom: 10px;
        background-color: #f9f9f9;
    }

    /* Temple Card */
    .temple-card {
        border: 1px solid #333;
        border-radius: 8px;
        /* box-shadow: 0 2px 4px black; */
        padding: 20px;
        margin-bottom: 10px;
        background-color: #f9f9f9;
    }

    .temple-card h2 {
        margin-top: 0;
        font-size: 1.5rem;
        color: #333;
    }

    .temple-card p {
        margin: 0;
        font-size: 1rem;
        color: #666;
    }

    .temple-card img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-top: 20px;
    }


}